@tailwind base;
@tailwind components;
@tailwind utilities;

/* SimpleBar styles */
.simplebar-track.simplebar-vertical,
.simplebar-track.simplebar-horizontal {
  opacity: 1 !important;
  visibility: visible !important;
  background-color: var(--light-gray) !important;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar,
.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  background-color: #d9d9d9 !important;
  width: 8px !important;
  border-radius: 10px;
}

.scrollbar-hidden {
  scrollbar-width: none;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.simplebar-content {
  height: -webkit-fill-available;
}

* {
  @apply box-border p-0 m-0;
}

body {
  @apply text-white font-normal text-3xl;
}

.li-customer-name {
  color: white;
  margin-bottom: 5px;
  background-color: #414141;
  width: 50%;
  border-radius: 5px;
  padding: 5px;
  display: flex;
}

.li-customer-name label {
  width: 100%;
  margin-left: 5px;
}
